{% extends 'base.html' %}
{% block title %}Welcome to Blockchain{% endblock%}
{% block navbar %}{% endblock %}
{% block content %}
<body>
    <br/>
    <h1>BLOCKCHAIN</h1>
        <br/>
        <p>
            A blockchain represents a digital distributed ledger (DLT) that is based on cryptographic protocols,
            is resistant to tampering, provides great security,
            is driven by network consensus, and allows data to be transmitted and stored in a peer-to-peer (P2P) fashion.
            The world's first cryptocurrency created with blockchain technology is <a href="https://bitcoin.org/en/">Bitcoin</a>.
        </p>

        <p>
            Blockchain technology allows for the transfer of data/assets/value between two parties,
            while eliminating the need to rely on a third party to facilitate the transaction.
            It provides a trust layer that did not exist until now, for all types of transactions –
            as all members of the network have access to the same information via the ledger,
            thus making it easy for participants to verify and authenticate past transactions.
        </p>

        <p>
            Research on the potential is still being carried out, yet the industry commonly accepts that
            blockchain has big implications in a wide variety of markets, including, but not limited to:

        <ul>
            <li><a href="https://vectorspace.ai/">artificial intelligence</a></li>
            <li><a href="https://compound.finance/">banking</a></li>
            <li><a href="https://www.vechain.com/">logistics</a></li>
            <li><a href="https://www.synthetix.io/">finance</a></li>
            <li><a href="https://medibloc.co.kr/">health</a></li>
            <li><a href="https://robonomics.network/">robotics</a></li>
            <li><a href="https://origintrail.io/">supply chain management</a></li>
            <li><a href="https://axieinfinity.com/">gaming</a></li>
            <li><a href="https://nexusmutual.io/">insurance</a></li>
            <li><a href="https://utrust.com/">payment services</a></li>
            <li><a href="https://injectiveprotocol.com/">stock markets</a></li>
            <li><a href="https://888tron.com/">gambling</a></li>
            <li><a href="https://yearn.finance/">governance</a></li>
            <li>and many more.</li>
        </ul>
        </p>

</body>

{% endblock %}