{% extends 'base.html' %}
{% block title %}Welcome to DeFi{% endblock%}
{% block navbar %}{% endblock %}
{% block content %}
<body>
    <h1>DeFi</h1>
        <p>
        In its simplest form, decentralized finance or "DeFi", is a system by which financial products become available on a public decentralized
        blockchain network, making them open for anyone to use, rather than going through middlemen like banks or brokerages.
        Unlike a bank or brokerage account, a government-issued ID, social security number, or proof of address are not
        necessary to use DeFi; only a WEB3 enabled cryptocurrecy wallet. More specifically, DeFi refers to a system by which software written on
        blockchains makes it possible for buyers, sellers, lenders, and borrowers to interact peer to peer or with a strictly software-based
        middleman rather than a company or institution facilitating a transaction.
        </p>
        <p>
        Multiple technologies and protocols are used to achieve the goal of decentralization. For example, a decentralized system can consist
        of a mix of open-source technologies, blockchain, and proprietary software. Smart contracts that automate agreement terms between
        buyers and sellers or lenders and borrowers make these financial products possible.
        </p>

    <h5>Smart Contracts</h5>
        <p>
        A smart contract is a self-executing contract with the terms of the agreement between buyer and seller being directly written into lines of code.
        The code and the agreements contained therein exist across a distributed, decentralized blockchain network. The code controls the execution,
        and transactions are trackable and irreversible.Smart contracts permit trusted transactions and agreements to be carried out among disparate,
        anonymous parties without the need for a central authority, legal system, or external enforcement mechanism. The world's first smart contract
        platform is <a href="https://ethereum.org/en/">Ethereum</a>.
        </p>

    <h5>Oracles</h5>
        <p>
        In order for DeFi applications to work and to provide value to people and organizations around the world, they require information
        from the non-blockchain world -- like pricing data for derivatives or weather information for insurance contracts or, really, almost anything
        you can imagine. Without access to accurate data, these applications would be of little use. Here is where oracles come into play.
        They serve as connective tissue for accessing, processing and transmitting critical data.
        To properly ensure the integrity of the data, an oracle system must be fully decentralized. The leader in decentralized oracles is
        <a href="https://chain.link/">ChainLink</a>.
        </p>
</body>

{% endblock %}