{% extends 'base.html' %}
{% block title %}Welcome to all things Blockchain{% endblock%}
{% block navbar %}{% endblock %}

{% block content %}
<iframe src="https://giphy.com/embed/h4CCmYbhcTjNb9dATg" width="100" height="100" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
 <br/>
<body>
       <h4><p>Worth a read... <a href="https://bitcoin.org/bitcoin.pdf">Bitcoin whitepaper</a></p></h4>
        <br/>
      <p>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/SSo_EIwHSd4" frameborder="0" allowfullscreen></iframe>
    </p>
</body>

{% endblock %}