{% extends 'base.html' %}
{% block title %}Welcome to Non-Fungible Tokens{% endblock%}
{% block navbar %}{% endblock %}
{% block content %}
<body>
<h1>NFTs</h1>
      <div class="image-container">
        <p>
            NFTs are tokens that we can use to represent ownership of unique items. They let us tokenise things like art, collectibles, even real estate.
            They can only have one official owner at a time and they're secured by the Ethereum blockchain, (and others like Tezos, Binance Smartchain, Eos, Neo and Tron)
            – no one can modify the record of ownership or copy/paste a new NFT into existence.NFT stands for non-fungible token.
            Non-fungible is an economic term that you could use to describe things like your furniture, a song file, or your computer.
            These things are not interchangeable for other items because they have unique properties.
            Fungible items, on the other hand, can be exchanged because their value defines them rather than their unique properties. For example,
            ETH or dollars are fungible because 1 ETH / $1 USD is exchangeable for another 1 ETH / $1 USD.
            The vast majority of NFT tokens were built using one of two Ethereum token standards (ERC-721 and ERC-1155) –  blueprints created by Ethereum that enable
            software developers to easily deploy NFTs and ensure they’re compatible with the broader ecosystem, including exchanges and wallet
            services like <a href="https://metamask.io/">MetaMask</a> and <a href="https://www.myetherwallet.com/">MyEtherWallet</a>.
        </p>
</div>
        <p>Some Popular NFT Platforms Iinclude:</p>
        <ul>
            <li><a href="https://opensea.io/">OpenSea</a></li>
            <li><a href="https://rarible.com/">Rarible</a></li>
            <li><a href="https://mintable.app/">Mintable</a></li>
            <li><a href="https://zora.co/">Zora</a></li>
            <li><a href="https://www.hicetnunc.xyz/">Hicetnunc</a></li>
            <li><a href="https://nft20.io/">nft20</a></li>
            <li>and more...</li>

        </ul>


</body>

{% endblock %}