{% extends 'base.html' %}
{% block title %} Change Password {% endblock%}
{% block navbar %}{% endblock %}
{% block content %}
<iframe src="https://giphy.com/embed/h4CCmYbhcTjNb9dATg" width="100" height="100" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<body>
    <div class="wrapper">

<!--Error statement if fields are not filled-->

{% if error_statement %}


<div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ error_statement }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}

        <!--password form template-->

<div class="icon-area"><span><i class="fa fa-users"</span></div>
     <div class="login-area"> <form action="/change_password" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="password" placeholder="New password" type="password">
    </div>
    <button class="btn-area" type="submit">Change</button>
</form>

{% endblock %}