{% extends 'base.html' %}
{% block title %} Registration {% endblock%}
{% block content %}
<iframe src="https://giphy.com/embed/h4CCmYbhcTjNb9dATg" width="100" height="100" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>


<div class="wrapper">

  {% if error_statement %}


<div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ error_statement }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}


  <div class="icon-area"><span><i class="fa fa-users"</span></div>
     <div class="login-area">      <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input input autocomplete="off" autofocus class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>

        <button class="btn-area" type="submit">Register</button>
    </form>
  </div>
</div>

{% endblock %}